<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cursala</title>
</head>
<body>
    <header>
        <div id="img-container">
            <a href="/"><img src="/img/blanco.png" alt=""></a>
        </div>
    </header>
    <main id="main-content">
        <div id="main-modal">
            <div id="btn-container">
                <button id="unibtn">Universidades</button>
                <button id="profebtn">Profesores</button>
                <button id="matebtn">Materias</button>
            </div>
            <a href="">Universidad Nacional De La Plata</a>
            <a href="">Universidad Nacional De La Plata</a>
            <a href="">Universidad Nacional De La Plata</a>
            <a href="">Universidad Nacional De La Plata</a>
            <a href="">Universidad Nacional De La Plata</a>
        </div>
    </main>
    <footer>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <a href="">redes</a>
            <a href="">redes</a>
        </div>
        <div>
            <a href="">redes</a>
            <a href="">redes</a>
        </div>
    </footer>
    <script src="/js/scripts.js"></script>
</body>
</html>