<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cursala</title>
</head>
<body>
    <header>
        <div id="img-container">
            <a href="/"><img src="/img/blanco.png" alt=""></a>
        </div>
        <nav>
            <a href="">Profes</a>
            <a href="">Materias</a>
            <a href="">Facultades</a>
            <a href="">Mas</a>
        </nav>
    </header>
    <main>
        <section id="content">
            <div id="modal">
                <div id="modal-info">
                </div>
            </div>
            <div id="modal-background"></div>
        </section>
    </main>
    <footer>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <a href="">redes</a>
            <a href="">redes</a>
        </div>
        <div>
            <a href="">redes</a>
            <a href="">redes</a>
        </div>
    </footer>
</body>
</html>